.mainbody {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 700px;
  margin: 80px auto 50px auto;
}

article {
  margin: 30px auto 50px auto;
}

article .info {
	margin-bottom: 40px;
}

article table td {
	padding: 10px 10px 20px 10px;
}